@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E5E7EB;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: l1 0.4s infinite;
}
@keyframes l1 {to{transform: rotate(.5turn)}}